<footer>
  {% load static %}
  {% load translations_tags %}

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5">
        <a class="navbar-brand" href="#">
          <img src="{% static 'assets/images/logo.webp' %}" alt="Dikaioma Elpidas Logo">
        </a>
        <span class="d-block footer-text mt-6">Δικαίωμα Ελπίδας Για Άτομα Με Αναπηρίες </span>
        <span class="d-block footer-text">Omonoias 9, Larnaca, 6058, Cyprus</span>

        <span class="d-block footer-text fs-5 mt-6">{% trans 'slug_145' %}</span>

        <div class="contact-social-icons d-flex mt-3">
          <a href="https://www.facebook.com/dikaiomaelpidas" target="_blank" class="social-icon me-3 mb-lg-4">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
          <a href="https://www.instagram.com/dikaioma_elpidas/" target="_blank" class="social-icon">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>

      </div>
      <div class="d-none d-lg-block col-3">
        <span class="d-block text-white fs-5">Company</span>
        <a href="#" class="d-block text-white mt-4">{% trans 'slug_138' %}</a>
        <a href="#" class="d-block text-white mt-2">{% trans 'slug_139' %}</a>
        <a href="#" class="d-block text-white mt-2">{% trans 'slug_140' %}</a>
        <a href="#" class="d-block text-white mt-2">{% trans 'slug_141' %}</a>
        <a href="#" class="d-block text-white mt-2">{% trans 'slug_142' %}</a>
        <a href="#" class="d-block text-white mt-2">{% trans 'slug_143' %}</a>
      </div>
      <div class="d-none d-lg-block col-4 social-media-icons">
        <span class="d-block text-white fs-5">{% trans 'slug_140' %}</span>
        <a href="tel:+357 24653526" class="d-block text-white mt-4">+357 24653526</a>
        <a href="mailto:dikaiomaelpidas@gmail.com" class="d-block text-white mt-2">dikaiomaelpidas@gmail.com</a>
      </div>
    </div>
  </div>
</footer>