<footer>
  {% load static %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5">
        <a class="navbar-brand" href="#">
          <img src="{% static 'assets/images/logo.webp' %}" alt="Dikaioma Elpidas Logo">
        </a>
        <span class="d-block footer-text mt-6">Omonoias 10</span>
        <span class="d-block footer-text">Larnaca 6058 , Cyprus</span>
        <span class="d-block footer-text mt-3">All rights reserved then the name goes here</span>

        <div class="d-flex mt-5">
          <a href="https://www.facebook.com/dikaiomaelpidas" target="_blank" class="social-icon me-3">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
          <a href="https://www.instagram.com/dikaioma_elpidas/" target="_blank" class="social-icon">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>

      </div>
      <div class="d-none d-lg-block col-7 social-media-icons">
        <span class="d-block text-white fs-5">Company</span>
        <a href="#" class="d-block text-white mt-4">About us</a>
        <a href="#" class="d-block text-white mt-2">Contact us</a>
        <a href="#" class="d-block text-white mt-2">Support us</a>
        <a href="#" class="d-block text-white mt-2">Events</a>
        <a href="#" class="d-block text-white mt-2">Actions & European Programs</a>
        <a href="#" class="d-block text-white mt-2">News & Announcements</a>
      </div>
    </div>
  </div>
</footer>