{% load static %}
<!-- Sticky Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'assets/images/logo.webp' %}" alt="Dikaioma Elpidas Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if  request.resolver_match.url_name == 'index' %}active{% endif %}"
                       aria-current="page" href="{% url 'landing_page:index' lang=request.language %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if  request.resolver_match.url_name == 'about' %}active{% endif %}"
                       href="{% url 'landing_page:about' lang=request.language %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if  request.resolver_match.url_name == 'services' %}active{% endif %}"
                       href="{% url 'landing_page:services' lang=request.language %}">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if  request.resolver_match.url_name == 'events' %}active{% endif %}"
                       href="{% url 'landing_page:events' lang=request.language %}">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if  request.resolver_match.url_name == 'news' %}active{% endif %}"
                       href="{% url 'landing_page:news' lang=request.language %}">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if  request.resolver_match.url_name == 'contact' %}active{% endif %}"
                       href="{% url 'landing_page:contact' lang=request.language %}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if  request.resolver_match.url_name == 'support' %}active{% endif %}"
                       href="{% url 'landing_page:support' lang=request.language %}">Support</a>
                </li>
            </ul>

            <dropdown>
                <input id="toggle2" type="checkbox">
                <label for="toggle2" class="animate">EN<i id="lang-arrow" class="ms-2 fa-solid fa-angle-down"></i> </label>
                <ul class="animate">
                    {% for lang_code, lang_name in request.available_languages %}
                        <li class="animate lang-item text-uppercase" data-value="{{ lang_code }}" {% if lang_code == request.language %}selected{% endif %}> {{ lang_code }}</li>
                    {% endfor %}
                </ul>
            </dropdown>

        </div>
    </div>
</nav>
<script>

    document.querySelectorAll(".lang-item").forEach(item => {
        item.addEventListener("click", function() {
            let selectedLang = this.dataset.value;
            let currentPath = window.location.pathname.split('/').slice(2).join('/'); // Remove first part (language)
            window.location.href = `/${selectedLang}/${currentPath}`;
        });
    });
    document.getElementById("toggle2").addEventListener("change", function() {
        const arrow = document.getElementById("lang-arrow");
        arrow.style.transform = this.checked ? "rotate(180deg)" : "rotate(0deg)";
        arrow.style.transition = "transform 0.3s ease-in-out";
    });

</script>