{% load static %}
{% load translations_tags %}

<!-- Sticky Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'landing_page:index' lang=request.language %}">
            <img src="{% static 'assets/images/logo.webp' %}" alt="Dikaioma Elpidas Logo">
        </a>
        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="bar bar1"></span>
            <span class="bar bar2"></span>
            <span class="bar bar3"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link{% if  request.resolver_match.url_name == 'index' %} active{% endif %}"
                       href="{% url 'landing_page:index' lang=request.language %}">{% trans 'slug_137' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if  request.resolver_match.url_name == 'about' %} active{% endif %}"
                       href="{% url 'landing_page:about' lang=request.language %}">{% trans 'slug_138' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if  request.resolver_match.url_name == 'support' %} active{% endif %} me-0"
                       href="{% url 'landing_page:support' lang=request.language %}">{% trans 'slug_139' %}</a>
                </li>
            </ul>

            <dropdown class="more-dropdown me-0">
                <input id="toggleMore" type="checkbox">
                <label for="toggleMore" class="animate">{% trans 'slug_144' %}<i id="more-arrow" class="ms-2 fa-solid fa-angle-down"></i> </label>
                <ul class="animate">
                    <li>
                        <a class="nav-link{% if  request.resolver_match.url_name == 'contact' %} active{% endif %}"
                           href="{% url 'landing_page:contact' lang=request.language %}">{% trans 'slug_140' %}</a>
                    </li>
                    <li>
                        <a class="nav-link{% if  request.resolver_match.url_name == 'events' %} active{% endif %}"
                           href="{% url 'landing_page:events' lang=request.language page=1 %}">{% trans 'slug_141' %}</a>
                    </li>
                    <li>
                        <a class="nav-link{% if  request.resolver_match.url_name == 'services' %} active{% endif %}"
                           href="{% url 'landing_page:services' lang=request.language %}">{% trans 'slug_142' %}</a>
                    </li>
                    <li>
                        <a class="nav-link{% if  request.resolver_match.url_name == 'news' %} active{% endif %}"
                           href="{% url 'landing_page:news' lang=request.language page=1 %}">{% trans 'slug_143' %}</a>
                    </li>
                </ul>
            </dropdown>


            <dropdown>
                <input id="toggle2" type="checkbox">
                <label for="toggle2" class="animate text-uppercase"><i class="fa-solid fa-globe"></i></label>
                <ul class="animate">
                    {% for lang_code, lang_name in request.available_languages %}
                        <li class="animate lang-item text-uppercase" data-value="{{ lang_code }}" {% if lang_code == request.language %}selected{% endif %}> {{ lang_code }}</li>
                    {% endfor %}
                </ul>
            </dropdown>

        </div>
    </div>
</nav>
<script>

    document.querySelectorAll(".lang-item").forEach(item => {
        item.addEventListener("click", function() {
            let selectedLang = this.dataset.value;
            let currentPath = window.location.pathname.split('/').slice(2).join('/'); // Remove first part (language)
            window.location.href = `/${selectedLang}/${currentPath}`;
        });
    });
    document.getElementById("toggleMore").addEventListener("change", function() {
        const arrow = document.getElementById("more-arrow");
        arrow.style.transform = this.checked ? "rotate(180deg)" : "rotate(0deg)";
        arrow.style.transition = "transform 0.3s ease-in-out";
    });
    document.querySelector('.navbar-toggler').addEventListener('click', function() {
        this.classList.toggle('active');
    });


</script>