{% load static %}
<!-- Sticky Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'assets/images/logo.webp' %}" alt="Dikaioma Elpidas Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if  request.resolver_match.url_name == 'index' %} active{% endif %}"
                       aria-current="page" href="{% url 'landing_page:index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if  request.resolver_match.url_name == 'about' %} active{% endif %}"
                       href="{% url 'landing_page:about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if  request.resolver_match.url_name == 'services' %} active{% endif %}"
                       href="{% url 'landing_page:services' %}">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if  request.resolver_match.url_name == 'events' %} active{% endif %}"
                       href="{% url 'landing_page:events' %}">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if  request.resolver_match.url_name == 'news' %} active{% endif %}"
                       href="{% url 'landing_page:news' %}">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if  request.resolver_match.url_name == 'contact' %} active{% endif %}"
                       href="{% url 'landing_page:contact' %}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if  request.resolver_match.url_name == 'support' %} active{% endif %}"
                       href="{% url 'landing_page:support' %}">Support</a>
                </li>
            </ul>
        </div>
    </div>
</nav>