{% load static %}
{% load translations_tags %}


    <!-- First Row (Ensures Full Width) -->
    <div class="row g-3">  <!-- Added row wrapper and gap -->
        <div class="col-12 col-md-6 col-lg-4 support-box">
            <div class="box d-flex flex-column justify-content-top">
                <div class="box-icon">
                    <img src="{% static 'assets/images/jcc-logo.png' %}" class="img-fluid" alt="jcc">
                </div>
                <span class="d-block box-title fs-4 text-start mt-3">{% trans 'get_involved_supporter_title' %}</span>
                <div class="break-line"></div>
                <span class="d-block box-details fs-5 text-start mt-3">{% trans 'get_involved_supporter_subtitle' %}</span>
                <div class="d-flex justify-content-end">
                    <a href="#" class="w-auto mt-5">
                        <i class="fa-solid fa-arrow-right fs-5"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 support-box">
            <div class="box d-flex flex-column justify-content-top">
                <div class="box-icon">
                    <img src="{% static 'assets/images/gift.png' %}" class="img-fluid" alt="Alternative Gift Giving">
                </div>
                <span class="d-block box-title fs-4 text-start mt-3">{% trans 'get_involved_contribution' %}</span>
                <div class="break-line"></div>
                <span class="d-block box-details fs-5 text-start mt-3">{% trans 'get_involved_contribution_subtitle' %}</span>
                <div class="d-flex justify-content-end">
                    <a href="#" class="w-auto mt-5" data-bs-toggle="modal" data-bs-target="#involvedModal" data-title="{% trans 'get_involved_contribution' %}" data-first-paragraph="{% trans 'get_involved_contribution_par_1' %}" data-sec-paragraph="{% trans 'get_involved_contribution_par_2' %}" data-third-paragraph="{% trans 'get_involved_contribution_par_3' %}">
                        <i class="fa-solid fa-arrow-right fs-5"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4 support-box">
            <div class="box d-flex flex-column justify-content-top">
                <div class="box-icon">
                    <img src="{% static 'assets/images/donate.png' %}" class="img-fluid" alt="Memorial Donations">
                </div>
                <span class="d-block box-title fs-4 text-start mt-3">{% trans 'get_involved_memorial' %}</span>
                <div class="break-line"></div>
                <span class="d-block box-details fs-5 text-start mt-3">{% trans 'get_involved_memorial_subtitle' %}</span>
                <div class="d-flex justify-content-end">
                    <a href="#" class="w-auto mt-5" data-bs-toggle="modal" data-bs-target="#involvedModal" data-title="{% trans 'get_involved_memorial' %}" data-first-paragraph="{% trans 'get_involved_memorial_par_1' %}" data-sec-paragraph="{% trans 'get_involved_memorial_par_2' %}" data-third-paragraph="{% trans 'get_involved_memorial_par_3' %}">
                        <i class="fa-solid fa-arrow-right fs-5"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Second Row -->
    <div class="row g-3 mt-3"> <!-- Added spacing between rows -->
        <div class="col-12 col-md-6 support-box">
            <div class="box d-flex flex-column justify-content-top">
                <div class="box-icon">
                    <img src="{% static 'assets/images/volunteer.png' %}" class="img-fluid" alt="Volunteer with Us">
                </div>
                <span class="d-block box-title fs-4 text-start mt-3">{% trans 'get_involved_volunteer' %}</span>
                <div class="break-line"></div>
                <span class="d-block box-details fs-5 text-start mt-3">{% trans 'get_involved_volunteer_subtitle' %}</span>
                <div class="d-flex justify-content-end">
                    <a href="#" class="w-auto mt-5" data-bs-toggle="modal" data-bs-target="#involvedModal" data-title="{% trans 'get_involved_volunteer' %}" data-first-paragraph="{% trans 'get_involved_volunteer_par_1' %}" data-sec-paragraph="{% trans 'get_involved_volunteer_par_2' %}" data-third-paragraph="{% trans 'get_involved_volunteer_par_3' %}">
                        <i class="fa-solid fa-arrow-right fs-5"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 support-box">
            <div class="box d-flex flex-column justify-content-top">
                <div class="box-icon">
                    <img src="{% static 'assets/images/corporate.png' %}" class="img-fluid" alt="Corporate Giving">
                </div>
                <span class="d-block box-title fs-4 text-start mt-3">{% trans 'get_involved_company_support' %}</span>
                <div class="break-line"></div>
                <span class="d-block box-details fs-5 text-start mt-3">{% trans 'get_involved_company_support_subtitle' %}</span>
                <div class="d-flex justify-content-end">
                    <a href="#" class="w-auto mt-5" data-bs-toggle="modal" data-bs-target="#involvedModal" data-title="{% trans 'get_involved_company_support' %}" data-first-paragraph="{% trans 'get_involved_company_support_par_1' %}" data-sec-paragraph="{% trans 'get_involved_company_support_par_2' %}" data-third-paragraph="{% trans 'get_involved_company_support_par_3' %}">
                        <i class="fa-solid fa-arrow-right fs-5"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>


