@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Apply Roboto to the whole website */
* {
    font-family: 'Roboto', sans-serif;
}

body {
    padding-top: 80px;
}
body.home{
    padding-top: 0px!important;
}
a{
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    font-size:14px;
}
section{
    margin-top:300px;
}

.mt-6{
    margin-top:50px;
}

.green-text{
    color:#8CC63E!important;
}
.navbar{
    padding: 0;
    padding-left: 50px;
    padding-right: 50px;
}
.navbar-brand img {
    height: 80px;
}

.nav-link{
    padding: 8px 16px 8px 16px;
    margin-right:10px;
    transition:0.3s;
    border-radius:4px;
}

.nav-item:hover .nav-link{
    background-color: #ececec;
    transition:0.3s;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    background-color: #ED028B;
    color:white;
    border-radius: 4px;
}

video{
    width: 100%!important;
}

.homepage img{
    height:400px!important;
    object-fit: cover;
    object-position: center;
}

/* Full screen video */
.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire container */
}


/* Linkable boxes */
.box {
    padding: 32px 24px 24px 24px; /* top right bottom left */
    color: #333; /* Dark text */
    text-align: center;
    text-decoration: none; /* Remove underline from links */
    border-radius: 20px; /* Rounded corners */
    background-color: white; /* White background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: box-shadow 0.3s ease;
    z-index: 1; /* Ensure boxes are on top of video */
    display: block;
    min-height:300px;
}
.support-box .box{
    min-height:268px!important;
    padding:24px!important;
}

/* Hover effect for boxes */
.support-box .box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Larger shadow on hover */
}

/* Container for the boxes at the bottom */
.boxes-container {
    position: relative;
    bottom: 160px;
    display: flex;
}
.boxes-container .box-title,
#support-section .box-title {
    font-weight:600;
    margin-bottom:15px;
}
.box-details{
    font-weight:400;
    line-height:24px;
    color:#3C3C3C;
}

.box-icon{
    height: 70px;
    width: 70px;
    color: white;
    border-radius: 10px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-us .box-icon{
    background-color:#23A9E2;
}

.meet-team .box-icon{
    background-color: #ED028B;
}

.actions-europe .box-icon{
    background-color: #8CC63E;
}

.support-box .box-icon{
    background-color: #777777;
}

.break-line{
    height:2px;
    width:50px;
}
.support-box .break-line{
    background-color: #23A9E2;;
}
.about-us .break-line{
    background-color:#23A9E2;
}

.meet-team .break-line{
    background-color: #ED028B;
}

.actions-europe .break-line{
    background-color: #8CC63E;
}

.main-break-line{
    height:7px;
    width:94px;
}

#mission-section .main-break-line{
    background-color:#23A9E2;
}

#meet-team .main-break-line{
    background-color:#ED028B;
}

#support-section .main-break-line{
    background-color:#23A9E2;
}

.main-title{
    font-size:45px;
    font-weight:600;
    padding:0px!important;
}

.radius-40{
    border-radius:20px;
}

.main-button{
    max-width:184px;
    width:max-content;
    height:44px;
    border-radius:8px;
    color:white;
    padding: 10px 24px 10px 24px;
    font-weight: 500;
    margin-top:38px;
    transition:0.3s;
}

.main-button:hover{
    filter: brightness(1.1);
    transition:0.3s;
}

.main-button.blue-btn{
    background-color:#23A9E2;

}

.main-button.pink-btn{
    background-color:#ED028B;
}

.program-tag{
    background-color:#D9FDA8;
    font-weight: 500;
    font-size:16px;
    color:black;
    padding:12px 20px 12px 20px;
    width:max-content;
    border-radius:6px;
    display:inline-block;
    margin-right:20px;
    margin-bottom:20px;
}

footer{
    background-color:#333333;
    padding-top:68px;
    padding-bottom:68px;
    margin-top:300px;
}

.footer-text{
    color:#F5F7FA;
    font-weight:400;
}

footer .social-icon{
    height: 32px;
    width: 32px;
    border-radius: 100%;
    color: white;
    display: flex;
    font-size: 20px;
    text-align: center;
    background-color: #494949;
    align-items: center;
    justify-content: center;
    transition:0.3s;
}

footer .social-icon:hover{
    filter: brightness(1.1);
    transition:0.3s;
}

.social-media-icons a{
    width:max-content!important;
}

#language-select{
    border: 0;
    background-color: transparent;
}


dropdown{
    display: inline-block;
    position: relative;
}
dropdown label, dropdown ul li{
    display: block;
    background: transparent;
}
dropdown label:hover, dropdown ul li:hover{
    cursor: pointer;
}
dropdown label{
    color: #000000;
    position: relative;
    z-index: 2;
    width: 50px;
    text-align: center;
}
dropdown input{
    display: none;
}
dropdown input ~ ul{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 30px;
    padding: 0;
    z-index: 1;
}
dropdown input:checked + label{
    color: #000000;
}

dropdown input:checked ~ ul{
    visibility: visible;
    opacity: 1;
    position: absolute;
    padding: 0;
    top: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition:0.3s;
}
dropdown input ~ ul li{
    padding: 15px 20px;
}
dropdown input:checked ~ ul li{
    padding: 15px 20px;
}

.animate{
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden; /* Chrome and Safari */
    -moz-backface-visibility:hidden; /* Firefox */
    -ms-backface-visibility:hidden; /* Internet Explorer */
}


@media (max-width: 767px)  {
    .navbar {
        padding:0!important;
    }

    section{
        margin-top:150px;
    }
    #mission-section{
        margin-top:-120px!important;
    }
    .main-title{
        font-size:36px!important;
    }
    .navbar-nav{
        height:100vh;
        padding-top:30px;
    }
    .nav-link{
        text-align: center;
        margin-bottom: 15px;
        width:100%;
    }
    .program-tag{
        margin-right:13px!important;
    }
    .homepage #meet-team img{
        height:150px!important;
    }
    #mission-section img{
        height:340px!important;
    }
    #programs-section .main-button{
        margin-top:0px!important;
    }
    footer{
        margin-top:150px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .box {
        min-height:400px;
    }
    .middle-spacing{
        margin-left:10px;
        margin-right:10px;
    }
    .box .box-title{
        height:70px;
    }
    .box .box-details{
        height:72px;
    }
    .support-box .box-title,
    .support-box .box-details{
        height:auto;
    }
}

@media (min-width: 992px) and (max-width: 1399px) {
    .box {
        min-height:386px;
    }
    .box .box-title{
        height:70px;
    }
    .box .box-details{
        height:72px;
    }
    .support-box .box-title,
    .support-box .box-details{
        height:auto;
    }
}

