@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Apply Roboto to the whole website */
* {
    font-family: 'Roboto', sans-serif;
}

body{
    padding-top: 0px!important;
}
.container-lg{
    overflow: hidden;
}
#index .container-lg{
    overflow:unset!important;
}
a{
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    font-size:14px;
}
section{
    margin-top:250px;
}

.mt-6{
    margin-top:50px;
}

.nav-margin{
    margin-top:190px;
}

.navbar{
    padding: 0;
    padding-left: 50px;
    padding-right: 50px;
}
.navbar-brand img {
    height: 80px;
}

.nav-link{
    padding: 8px 16px 8px 16px;
    margin-right:10px;
    transition:0.3s;
    border-bottom:2px solid #f8f9fa;
}

.nav-item:hover .nav-link{
    border-bottom: 2px solid #bbb9b9;
    transition:0.3s;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    border-bottom:2px solid #ED028B
}

/* Remove default icon styles */
.navbar-toggler-icon {
    display: none;
}

/* Custom hamburger icon styling */
.navbar-toggler.custom-toggler {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: none;
    margin-right:10px;
}

.bar {
    display: block;
    width: 106%;
    height: 3px;
    background-color: #9a9a9a;
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* Active state: hamburger turns into X */
.navbar-toggler.custom-toggler.active .bar1 {
    transform: rotate(45deg);
    position: relative;
    top: 8px;
}

.navbar-toggler.custom-toggler.active .bar2 {
    opacity: 0;
}

.navbar-toggler.custom-toggler.active .bar3 {
    transform: rotate(-45deg);
    position: relative;
    top: -8px;
}


video{
    width: 100%!important;
}

.homepage img{
    height:400px!important;
    object-fit: cover;
    object-position: center;
}

/* Full screen video */
.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire container */
}


/* Linkable boxes */
.box {
    padding: 32px 24px 24px 24px; /* top right bottom left */
    color: #333; /* Dark text */
    text-align: center;
    text-decoration: none; /* Remove underline from links */
    border-radius: 20px; /* Rounded corners */
    background-color: white; /* White background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: box-shadow 0.3s ease;
    z-index: 1; /* Ensure boxes are on top of video */
    display: block;
    min-height:300px;
}
.support-box .box{
    min-height:268px!important;
    padding:24px!important;
}


/* Hover effect for boxes */
.support-box .box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Larger shadow on hover */
}

/* Container for the boxes at the bottom */
.boxes-container {
    position: relative;
    bottom: 160px;
    display: flex;
}
.boxes-container .box-title,
#support-section .box-title {
    font-weight:600;
    margin-bottom:15px;
}
.box-details{
    font-weight:400;
    line-height:28px;
    color:#3C3C3C;
}

.box-icon{
    height: 70px;
    width: 70px;
    color: white;
    border-radius: 10px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue-text{
    color:#23A9E2;
}
.pink-text{
    color:#ED028B;
}
.green-text{
    color:#8CC63E!important;
}

.blue-color{
    background-color:#23A9E2;
}
.pink-color{
    background-color:#ED028B;
}
.green-color{
    background-color:#8CC63E!important;
}

.about-us .box-icon{
    background-color:#23A9E2;
}

.meet-team .box-icon{
    background-color: #ED028B;
}

.actions-europe .box-icon{
    background-color: #8CC63E;
}

.support-box .box-icon{
    background-color: #777777;
}

.break-line{
    height:2px;
    width:50px;
}
.support-box .break-line{
    background-color: #23A9E2;;
}
.about-us .break-line{
    background-color:#23A9E2;
}

.meet-team .break-line{
    background-color: #ED028B;
}

.actions-europe .break-line{
    background-color: #8CC63E;
}

.main-break-line{
    height:7px;
    width:94px;
}

#mission-section .main-break-line{
    background-color:#23A9E2;
}

#meet-team .main-break-line{
    background-color:#ED028B;
}

#support-section .main-break-line{
    background-color:#23A9E2;
}

.main-title{
    font-size:64px;
    font-weight:600;
}

#index .main-title{
    font-size:45px;
}

.sub-title{
    font-size:20px;
    font-weight:400;
    color:#3C3C3C;
}

.secondary-title{
    font-size:36px;
    font-weight:600;
    color:#0A0A0A;
}

.homepage .main-title{
    padding:0px!important;
}

.mt-165{
    margin-top:165px;
}

.mb-165{
    margin-bottom:165px!important;
}

.fs-45{
    font-size:45px;
}

.radius-40{
    border-radius:20px;
}

.main-button{
    max-width:184px;
    width:max-content;
    height:44px;
    border-radius:8px;
    color:white;
    padding: 10px 24px 10px 24px;
    font-weight: 500;
    margin-top:38px;
    transition:0.3s;
}

#about .main-button{
    width:205px!important;
}

.main-button:hover{
    filter: brightness(1.1);
    transition:0.3s;
}

.main-button.blue-btn{
    background-color:#23A9E2;

}

.main-button.pink-btn{
    background-color:#ED028B;
}

.program-tag{
    background-color:#D9FDA8;
    font-weight: 500;
    font-size:16px;
    color:black;
    padding:12px 20px 12px 20px;
    width:max-content;
    border-radius:6px;
    display:inline-block;
    margin-right:20px;
    margin-bottom:20px;
}

footer{
    background-color:#333333;
    padding-top:68px;
    padding-bottom:68px;
    margin-top:300px;
}

#contact footer,
#about footer{
    margin-top:160px!important;
}

.footer-text{
    color:#F5F7FA;
    font-weight:400;
}

footer .social-icon{
    height: 32px;
    width: 32px;
    border-radius: 100%;
    color: white;
    display: flex;
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition:0.3s;
}

footer .social-icon:hover{
    filter: brightness(1.1);
    transition:0.3s;
}

.social-media-icons a{
    width:max-content!important;
}

#language-select{
    border: 0;
    background-color: transparent;
}


dropdown{
    display: inline-block;
    position: relative;
}
dropdown label, dropdown ul li{
    display: block;
    background: transparent;
}
dropdown label:hover{
    cursor: pointer;
    background-color: #ececec;
    transition: 0.3s;
}
dropdown ul li:hover{
    cursor: pointer;
    background-color: #f4f4f4;
    transition: 0.3s;
}
dropdown label{
    color: #000000;
    position: relative;
    z-index: 2;
    padding: 8px 16px 8px 16px;
    text-align: center;
    border-radius: 4px;
}
dropdown input{
    display: none;
}
dropdown input ~ ul{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 30px;
    padding: 0;
    z-index: 1;

}
dropdown input:checked + label{
    color: #000000;
    text-align: center;
}

dropdown input:checked ~ ul{
    visibility: visible;
    opacity: 1;
    position: absolute;
    padding: 0;
    top: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width:100%;
    transition:0.3s;
    overflow: hidden;
}
dropdown input ~ ul li{
    padding: 15px 20px;
}
dropdown input:checked ~ ul li{
    padding: 15px 20px;
}

.animate{
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden; /* Chrome and Safari */
    -moz-backface-visibility:hidden; /* Firefox */
    -ms-backface-visibility:hidden; /* Internet Explorer */
}

.contact-icons{
    width: 20px;
    font-size: 20px;
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    border:1px solid #CCCCCC;
    min-height:406px;
    position: relative;
}
.form-container .form-group {
    margin-bottom: 15px;
}
.form-container .form-row {
    display: flex;
    justify-content: space-between;
}
.form-container .form-row .form-group {
    width: 48%;
}
.form-container label {
    font-size: 14px;
    font-weight: 400;
    display: block;
    margin-bottom: 5px;
}
.form-container input, .form-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}
.form-container input:focus, .form-container textarea:focus {
    border-color: #23A9E2;
}
.form-container textarea {
    height: 100px;
    resize: none;
}
.form-container .submit-btn {
    width: 100%;
    background: #e6007e;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}
.form-container .submit-btn:hover {
    background: #c4006b;
}
#map {
    height: 400px;
    width: 100%;
}

/* Loader Styles */
#contact-us-loader {
    display: none;
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #e6007e;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#contact-us-message-sent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    width: 100%;
}

/* Error Styling */
#contact .error {
    border-color: red !important;
    background-color: #ffe6e6;
}

/* Success Styling */
#contact .success {
    border-color: green;
}

#contact .success-msg-title{
    font-size:28px;
    color:#0A0A0A;
    font-weight:400;
}

.contact-social-icons a,
.footer-social-icons a{
    font-size: 20px;
    border-radius: 100%;
    border: 1px solid #B7B7B7;
    width: 50px;
    height: 50px;
    justify-content: center;
}

.footer-social-icons a{
    border-color: white!important;
}

#contact .success-msg-subtitle{
    font-size:16px;
    color:#0A0A0A;
    font-weight:400;
}

.featured-blog {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}
.featured-blog img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.featured-blog .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Dark overlay */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    color: white;
}
.featured-blog .overlay h3 {
    font-weight: 600;
    max-width:720px;
    font-size:36px;
}
.featured-blog .overlay p {
    font-size: 14px;
    opacity: 0.8;
}

.featured-blog img{
    height:400px;
    object-position: center;
    object-fit: cover;
}

.article-card {
    transition: transform 0.3s ease-in-out;
    border-radius: 12px;
}
.article-card:hover {
    transform: translateY(-5px);
}
.article-img {
    height: 200px;
    object-fit: cover;
    border-radius:6px
}

.card-body{
    padding-left:0px;
    padding-bottom:0px;
}

.card-title{
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

.not-available-text{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: gainsboro;
}


/* Individual image styling */
.image-box {
    position: relative;
    border-radius: 20px;
}

.image-box img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

/* Background brushstrokes */
.image-box::before {
    content: "";
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

/* Unique brushstrokes */
.image-box-1::before { background-image: url('../images/brush-green.png'); top: -57px; right: -120px; width: 225px; height: 108px;}
.image-box-2::before { background-image: url('../images/brush-blue.png');  bottom: -55px; right: -120px; width: 189px; height: 132px; }
.image-box-3::before { background-image: url('../images/brush-pink.png'); bottom: -61px; right: -175px; width: 304px; height: 200px; }


@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.story-title{
    font-size:28px;
    font-weight: 400;
}

.story-li{
    font-size:20px;
    line-height:28px;
}

.story-img-1{
    height:568px!important;
    width:426px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.max-content{
    width:max-content !important;
}

.story-img-2{
    width:100%;
    height:400px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.story-img-3{
    width:874px;
    height:400px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.mt-335{
    margin-top:335px;
}

.custom-card {
    border-radius: 8px;
    background-color: #F5F5F5;
    padding: 20px;
    transition: transform 0.2s ease-in-out;
}

.custom-card .icon {
    font-size: 32px;
    margin-bottom: 10px;
}

.custom-card h5 {
    font-size: 24px!important;
    font-weight: 600;
}

.custom-card-icon{
    font-size:50px;
}

@media (max-width: 767px)  {
    .navbar {
        padding:0!important;
    }

    section{
        margin-top:150px;
    }
    #mission-section{
        margin-top:-120px!important;
    }
    .main-title{
        font-size:36px!important;
    }
    .navbar-nav{
        height:100vh;
        padding-top:30px;
    }
    .nav-link{
        text-align: center;
        margin-bottom: 15px;
        width:100%;
    }
    .program-tag{
        margin-right:13px!important;
    }
    .homepage #meet-team img{
        height:150px!important;
    }
    #mission-section img{
        height:340px!important;
    }
    #programs-section .main-button{
        margin-top:0px!important;
    }
    footer{
        margin-top:150px;
    }
    .nav-margin{
        margin-top:150px!important;
    }
    .mt-165{
        margin-top:78px!important;
    }
    .mb-165{
        margin-bottom:78px!important;
    }
    #contact footer{
        margin-top:80px!important;
    }
    .form-container .form-row{
        display: block;
    }
    .form-container .form-row .form-group{
        width: 100%;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .box {
        min-height:400px;
    }
    .middle-spacing{
        margin-left:10px;
        margin-right:10px;
    }
    .box .box-title{
        height:70px;
    }
    .box .box-details{
        height:72px;
    }
    .support-box .box-title,
    .support-box .box-details{
        height:auto;
    }
}

@media  (max-width: 991px) {
    dropdown{
        display:none;
    }
    .navbar-toggler{
        border:0!important;
    }
    .navbar-toggler:focus{
        box-shadow:none!important;
    }
    .mt-335{
        margin-top:150px!important;
    }
    br{
        display:none;
    }
    .max-content{
        width:auto!important;
    }
    .story-title{
        text-align:center;
        display:block;
    }
    .story-img-1,
    .story-img-2,
    .story-img-3{
        height:350px!important;
        margin-top:20px;
        width:100%!important;
    }
    .nav-item{
        width:max-content !important;
        margin:0 auto;
    }
    .navbar-nav{
        height:100vh;
        padding-top:30px;
    }

}
@media  (min-width: 1515px) {
    .container-xlarge{
        max-width:1400px!important;
        margin:0 auto;
    }
    #about .sub-title{
        width:750px!important;
    }

}

@media  (max-width: 1515px) {
    .container-xlarge{
        max-width:1400px!important;
        margin:0 auto;
    }
    .image-box-1 img,
    .image-box-3 img{
        width: 100%!important;
        height: auto!important;
    }

    .image-box-2 img,
    .image-box-4 img{
        width: 100%!important;
        height: auto!important;
    }

}

@media (min-width: 992px) and (max-width: 1399px) {
    .box {
        min-height:386px;
    }
    .box .box-title{
        height:70px;
    }
    .box .box-details{
        height:72px;
    }
    .support-box .box-title,
    .support-box .box-details{
        height:auto;
    }
}

