{% extends "landing_page/base.html" %}
{% load static %}

{% block SEO %}
    <title>About us | Dikaioma Elpidas</title>
    <meta name="description"
          content="Dikaioma Elpidas is a school dedicated to inclusive education and therapeutic support for
           individuals with special needs. Our vision is to empower every student with the skills,
            care, and opportunities they deserve in a nurturing and supportive environment.">
{% endblock %}

{% block EXTRA_HEAD %}
    {# to be extended in templates #}
{% endblock %}

{% block BODY %}
<div class="nav-margin">
    <div class="container-lg container-xlarge">
        <div>
            <span class="d-block main-title">Our Journey of Hope & Inclusion</span>
            <span class="d-block sub-title mt-3">Learn about our history, mission, and commitment to empowering individuals with special needs through education and therapy.</span>
        </div>

        <div class="row g-4 justify-content-center about-image-container mt-165 mb-165">
            <div class="col-6 col-lg-3">
                <div class="image-box image-box-1">
                    <img src="{% static 'assets/images/mission.webp' %}" class="img-fluid rounded" alt="Image 1">
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="image-box image-box-2">
                    <img src="{% static 'assets/images/mission.webp' %}" class="img-fluid rounded" alt="Image 2">
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="image-box image-box-3">
                    <img src="{% static 'assets/images/mission.webp' %}" class="img-fluid rounded" alt="Image 3">
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="image-box image-box-4">
                    <img src="{% static 'assets/images/mission.webp' %}" class="img-fluid rounded" alt="Image 4">
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-335 mb-165">
            <div class="main-break-line blue-color"></div>
            <span class="main-title mt-4 text-center fs-45">Our Story</span>
            <span class="d-block box-details fs-5 text-center mt-3 p-0">Founded in [Year], Δικαίωμα Ελπίδας was created with a vision to provide inclusive education and <br> therapeutic support for individuals with special needs.</span>
        </div>

        <div class="row pt-lg-5">
            <div class="col-12 col-lg-8 mt-5">
                <span class="story-title">[Year of Founding] – The Beginning</span>
                <ul class="mt-3">
                    <li class="story-li mb-2">Δικαίωμα Ελπίδας was founded with a vision to provide inclusive education and therapeutic support for individuals with special needs.</li>
                    <li class="story-li">Started with [X] students and [X] staff members.</li>
                </ul>
            </div>
            <div class="col-12 col-lg-4">
                <img class="story-img-1 img-fluid" src="{% static 'assets/images/mission.webp' %}" alt="Image 1">
            </div>
        </div>

        <div class="row mt-5 pt-5">
            <div class="col-12 col-lg-6 order-1 order-lg-0">
                <img class="story-img-2 img-fluid" src="{% static 'assets/images/mission.webp' %}" alt="Image 1">
            </div>
            <div class="col-12 col-lg-6 mt-lg-5 order-0 order-lg-1">
                <span class="story-title">[Year] – Recognized for Excellence</span>
                <ul class="mt-3">
                    <li class="story-li mb-2">Received [Award or Certification] for innovation in special education.</li>
                    <li class="story-li">Featured in [Media/TV show], highlighting our impact.</li>
                </ul>
            </div>
        </div>

        <div class="row mt-5 pt-5">
            <div class="col-12 col-lg-8 mt-lg-5">
                <span class="story-title">[Year] – European Collaborations Begin</span>
                <ul class="mt-3">
                    <li class="story-li mb-2">Partnered with [Program Name], joining a network of European educational initiatives.</li>
                    <li class="story-li">Hosted our first international student exchange program.</li>
                </ul>
            </div>
            <div class="col-12 col-lg-4">
                <img class="story-img-1 img-fluid" src="{% static 'assets/images/mission.webp' %}" alt="Image 1">
            </div>
        </div>

        <div class="row mt-5 pt-5">
            <div class="col-12 mt-lg-5">
                <span class="d-block story-title text-center">[Year] – European Collaborations Begin</span>
                <ul class="mt-3">
                    <li class="max-content mx-auto story-li mb-2 text-center">Partnered with [Program Name], joining a network of European educational initiatives.</li>
                    <li class="max-content mx-auto story-li text-center">Hosted our first international student exchange program.</li>
                </ul>
            </div>
            <div class="col-12 d-flex justify-content-center mt-lg-5">
                <img class="story-img-3 img-fluid" src="{% static 'assets/images/mission.webp' %}" alt="Image 1">
            </div>
        </div>

        <div class="row justify-content-center mt-335">
            <div class="main-break-line pink-color"></div>
            <span class="main-title mt-4 text-center fs-45">Our Mission & Values</span>
            <span class="d-block box-details fs-5 text-center mt-3 p-0">Empowering lives through education, therapy, and inclusion.</span>
            <div class="my-5">
                <div class="row g-4">
                    <div class="col-md-6">
                        <div class="custom-card p-4">
                            <i class="custom-card-icon fa-solid fa-globe blue-text mb-4"></i>
                            <h5>Inclusion</h5>
                            <p>Learning transforms lives.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-card p-4">
                            <i class="custom-card-icon fa-solid fa-heart pink-text mb-4"></i>
                            <h5>Compassion</h5>
                            <p>We care for every individual.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-card p-4 ">
                            <i class="custom-card-icon fa-solid fa-graduation-cap green-text mb-4"></i>
                            <h5>Education</h5>
                            <p>Everyone deserves a place to grow.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-card p-4">
                            <i class="custom-card-icon fa-solid fa-graduation-cap green-text mb-4"></i>
                            <h5>Community</h5>
                            <p>Together, we make a difference.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex mt-3 justify-content-center">
                <a class="justify-content-center main-button pink-btn me-3" href="#">
                    <span>Meet the team</span>
                </a>
                <a class="justify-content-center main-button green-color" href="#">
                    <span>Explore Programs</span>
                </a>
            </div>
        </div>

    </div>
</div>

{% endblock %}
