{% extends "landing_page/base.html" %}
{% load static %}

{% block SEO %}
    <title>My Static Website</title>
    <meta name="description" content="A simple static website with reusable components">
{% endblock %}

{% block EXTRA_HEAD %}
    {# to be extended in templates #}
{% endblock %}

{% block BODY %}
<div class="nav-margin">
    <div class="container-lg container-xlarge">
        <div>
            <span class="d-block main-title">Our Journey of Hope & Inclusion</span>
            <span class="d-block sub-title mt-3">Learn about our history, mission, and commitment to empowering individuals with special needs through education and therapy.</span>
        </div>

        <div class="image-container justify-content-between">
            <div class="image-box image-box-1"><img src="{% static 'assets/images/mission.webp' %}" alt="Image 1"></div>
            <div class="image-box image-box-2"><img src="{% static 'assets/images/mission.webp' %}" alt="Image 2"></div>
            <div class="image-box image-box-3"><img src="{% static 'assets/images/mission.webp' %}" alt="Image 3"></div>
            <div class="image-box image-box-4"><img src="{% static 'assets/images/mission.webp' %}" alt="Image 4"></div>
        </div>

    </div>
</div>

{% endblock %}
