{% extends "landing_page/base.html" %}
{% load static %}
{% load translations_tags %}


{% block SEO %}
    <title>{% trans 'menu_home' %} | {% trans 'tab_title' %}</title>
    <meta name="description" content="Get in touch with Dikaioma Elpidas for more information about
     our inclusive education programs and therapeutic support for individuals with special needs.
      We’re here to answer your questions and support your journey">
{% endblock %}

{% block EXTRA_HEAD %}
    {# to be extended in templates #}
{% endblock %}

{% block BODY %}
    <div class="nav-margin">
        <div class="container-lg container-xlarge d-lg-flex align-items-lg-center justify-content-lg-between">
            <div>
                <span class="d-block main-title">{% trans 'contact_us_title' %}</span>
                <span class="d-block sub-title mt-3">{% trans 'contact_us_subtitle' %}</span>
            </div>

            <div class="contact-social-icons d-flex flex-row flex-lg-column mt-4 mt-lg-0">
                <a href="https://www.facebook.com/dikaiomaelpidas" target="_blank" class="social-icon me-3 mb-lg-4">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/dikaioma_elpidas/" target="_blank" class="social-icon">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>

        </div>
        <div class="container-lg mt-165 mb-165">
            <div class="row justify-content-around align-items-center">
                <div class="col-12 col-lg-6 col-xxl-4 order-1 order-lg-0 mt-5 mt-lg-0">
                    <span class="d-block secondary-title">{% trans 'contact_us_info' %}</span>
                    <span class="d-block box-details fs-6 text-start mt-4">{% trans 'contact_us_info_text' %}</span>
                    <div class="d-flex mt-3 align-items-center">
                        <i class="contact-icons blue-text fa-solid fa-location-dot me-2"></i>
                        <a href="https://www.google.com/maps/dir/34.9208576,33.6068608/34.93273,33.63369/@34.9266741,33.5981407,14z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0?entry=ttu&g_ep=EgoyMDI1MDMxOS4yIKXMDSoASAFQAw%3D%3D" class="d-block fs-6">Omonoias 9, Larnaca 6058, Cyprus</a>
                    </div>
                    <div class="d-flex mt-3 align-items-center">
                        <i class="contact-icons pink-text fa-solid fa-phone me-2"></i>
                        <a href="tel:+357 24653526" class="d-block fs-6">+357 24653526</a>
                    </div>
                    <div class="d-flex mt-3 align-items-center">
                        <i class="contact-icons green-text fa-envelope fa-solid me-2"></i>
                        <a href="mailto:dikaiomaelpidas@gmail.com" class="d-block fs-6">dikaiomaelpidas@gmail.com</a>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="form-container">
                        <form id="contact-us-form">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="first-name">First Name</label>
                                    <input type="text" id="first-name" name="first-name" placeholder="Placeholder">
                                </div>
                                <div class="form-group">
                                    <label for="last-name">Last Name</label>
                                    <input type="text" id="last-name" name="last-name" placeholder="Placeholder">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" id="email" name="email" placeholder="example@email.com">
                            </div>

                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea id="message" name="message" placeholder="Type your message here"></textarea>
                            </div>

                            <button type="submit" class="submit-btn">{% trans 'general_submit' %}</button>
                        </form>
                        <div id="contact-us-loader"></div>
                        <div id="contact-us-message-sent">
                            <span class="d-block text-center success-msg-title">{% trans 'contact_us_thanks' %}</span>
                            <span class="d-block text-center success-msg-subtitle mt-2">{% trans 'contact_us_email_sent' %}</span>
                            <a class="justify-content-center main-button pink-btn mx-auto" href="#" onclick="window.location.reload();"">
                                <span class="me-2">{% trans 'contact_us_send_again' %}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMrw0g8Z2_QsNOQ5qrl3YSNgfd1_aGNRE&callback=initMap" async defer></script>
        <script>
            function initMap() {
                var location = { lat: 34.932219, lng: 33.633636 };
                var map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 19,
                    center: location
                });
                var marker = new google.maps.Marker({
                    position: location,
                    map: map
                });
            }
        </script>

        <div id="map"></div>


    </div>

    <script>
        let submitContactUsMessageAPI = '{% url 'client_messages:api-submit-contact-us-messages' %}';

        $(document).ready(function () {
            $('#contact-us-form').on('submit', function (event) {
                event.preventDefault(); // Prevent default form submission

                // Perform validation
                var form = this;
                var isValid = checkValidity();
                $(form).addClass('was-validated');

                if (!isValid) return;

                // Ensure API URL is set
                if (typeof submitContactUsMessageAPI === "undefined" || !submitContactUsMessageAPI) {
                    console.error("Error: API URL is missing.");
                    return;
                }

                let formData = $(this).serialize(); // Serialize the form data

                $("#contact-us-form").hide();
                $("#contact-us-loader").show();

                $.ajax({
                    url: submitContactUsMessageAPI,
                    method: "POST",
                    data: formData,
                    success: function (response) {
                        $("#contact-us-loader").hide();
                        $("#contact-us-message-sent").show();
                    },
                    error: function (xhr, status, error) {
                        $("#contact-us-loader").hide();
                        $("#contact-us-form").show();
                        alert("An error occurred: " + xhr.responseText);
                        console.log("AJAX Error:", error, xhr.responseText);
                    }
                });
            });


            function checkValidity() {
                let isValid = true;
                let firstErrorField = null;

                // Reset previous errors
                $("input, textarea").removeClass("error").removeClass("success");

                // Get form values
                let first_name = $("#first-name").val().trim();
                let last_name = $("#last-name").val().trim();
                let email = $("#email").val().trim();
                let message = $("#message").val().trim();

                if (!first_name) {
                    $("#first-name").addClass("error");
                    firstErrorField = firstErrorField || $("#first-name");
                    isValid = false;
                } else {
                    $("#first_name").addClass("success");
                }

                if (!last_name) {
                    $("#last-name").addClass("error");
                    firstErrorField = firstErrorField || $("#last-name");
                    isValid = false;
                } else {
                    $("#last_name").addClass("success");
                }

                // Email validation
                let emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                if (!emailPattern.test(email)) {
                    $("#email").addClass("error");
                    firstErrorField = firstErrorField || $("#email");
                    isValid = false;
                } else {
                    $("#email").addClass("success");
                }

                // Message length check
                if (!message || message.length > 500) {
                    $("#message").addClass("error");
                    firstErrorField = firstErrorField || $("#message");
                    isValid = false;
                } else {
                    $("#message").addClass("success");
                }

                // Focus on the first error field
                if (firstErrorField) {
                    firstErrorField.focus();
                }

                return isValid;
            }

            // Remove error when user types
            $("input, textarea").on("input", function() {
                $(this).removeClass("error").addClass("success");

            });

            $("#email").on("input", function() {
                $(this).removeClass("error").addClass("success");
                let email = $("#email").val().trim();

                let emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                if (!emailPattern.test(email)) {
                    $("#email").addClass("error");
                    firstErrorField = firstErrorField || $("#email");
                    isValid = false;
                } else {
                    $("#email").addClass("success");
                }

            });
        });

    </script>

{% endblock %}
