{% extends "landing_page/base.html" %}
{% load static %}
{% load translations_tags %}

{% block SEO %}
    <title>My Static Website</title>
    <meta name="description" content="A simple static website with reusable components">
{% endblock %}

{% block EXTRA_HEAD %}
    {# to be extended in templates #}
{% endblock %}

{% block BODY %}
    <!-- Main Content -->
    <div class="homepage">
        <div class="video-container">
            <video autoplay muted loop>
                <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
            </video>
        </div>

        <div class="container-lg">

            <!-- Hero Boxes -->
            <section style="margin-top:0px">
                <div class="boxes-container justify-content-center p-0">
                    <div class="row w-100">
                        <div class="col-12 col-md-4 mb-4 about-us p-0 px-lg-3">
                            <div class="box d-block">
                                <div class="box-icon">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                                <span class="d-block box-title fs-4 text-start mt-3">About Us</span>
                                <div class="break-line"></div>
                                <span class="d-block box-details fs-6 text-start mt-3">Learn about our journey, values, and commitment to transforming lives.</span>
                                <a class="card-btn justify-content-end mt-5" href="#">
                                    <span class="me-2">Read More</span>
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 mb-4 meet-team p-0 px-lg-3 ">
                            <div class="box d-block middle-spacing">
                                <div class="box-icon">
                                    <i class="fa-regular fa-face-smile"></i>
                                </div>
                                <span class="d-block box-title fs-4 text-start mt-3">{% trans 'test_slug' %}</span>
                                <div class="break-line"></div>
                                <span class="d-block box-details fs-6 text-start mt-3">Get to know the dedicated professionals behind our mission.</span>
                                <a class="card-btn justify-content-end mt-5" href="#">
                                    <span class="me-2">Meet Us</span>
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 mb-4 actions-europe p-0 px-lg-3">
                            <div class="box d-block">
                                <div class="box-icon">
                                    <i class="fa-solid fa-graduation-cap"></i>
                                </div>
                                <span class="d-block box-title fs-4 text-start mt-3">Actions & European Programs</span>
                                <div class="break-line"></div>
                                <span class="d-block box-details fs-6 text-start mt-3">Explore the diverse activities and initiatives that shape our community.</span>
                                <a class="card-btn justify-content-end mt-5" href="#">
                                    <span class="me-2">Learn More</span>
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Discover our Mission -->
            <section style="margin-top:120px">
                <div id="mission-section" class="row mt-5 justify-content-around"  >
                    <div class="col-12 col-md-5 order-1 order-md-0">
                        <img height="400" src="{% static 'assets/images/mission.webp' %}" class="img-fluid radius-40" alt="Mission of Dikaioma Elpidas">
                    </div>
                    <div class="col-12 col-md-5 d-flex align-items-center order-0 order-md-1">
                        <div class="row">
                            <div class="col-12 mb-4 mb-lg-0">
                                <div class="main-break-line"></div>
                                <span class="d-block main-title mt-4">Discover Our Mission</span>
                                <span class="d-block box-details fs-6 text-start mt-3 p-0">We are dedicated to making a difference in the lives of individuals with special needs by providing comprehensive educational and therapeutic programs. Our mission is to foster inclusion, independence, and personal growth through innovative and specialized support.</span>
                                <a class="justify-content-center main-button blue-btn d-none d-md-block" href="#">
                                    <span class="me-2">Read More</span>
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <a class="justify-content-center main-button blue-btn d-block d-md-none order-2" href="#">
                        <span class="me-2">Read More</span>
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </section>

            <!-- Meet our team -->
            <section>
                <div id="meet-team" class="row justify-content-center">
                    <div class="main-break-line"></div>
                    <span class="main-title mt-4 text-center">Meet Our Team</span>
                    <span class="d-block box-details fs-6 text-center mt-3 p-0">We are proud to have a dedicated team of professionals who are committed to making a difference.</span>
                    <img src="{% static 'assets/images/meet-team.webp' %}" class="img-fluid radius-40 mt-5" alt="Team of Dikaioma Elpidas">
                    <span class="d-block box-details fs-6 text-center mt-4 p-0">Learn more about our passionate educators, therapists, and staff members who bring our vision to life.</span>
                    <a class="justify-content-center main-button pink-btn" href="#">
                        <span class="me-2">Meet the team</span>
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </section>

            <!-- What we offer -->
            <section>
                <div id="programs-section" class="row">
                    <span class="hero-subtitle box-details green-text p-0 text-center text-lg-start">Educational & Therapeutic Programs</span>
                    <span class="main-title mt-2 text-center text-lg-start">What We Offer</span>
                    <span class="d-block box-details fs-6 mt-2 mb-5 p-0 text-center text-lg-start">Our programs are designed to support individuals with special needs through:</span>
                    <div>
                        <div class="row">
                            <div class="col-12 p-0 px-3 px-lg-0">
                                <span class="program-tag">Physical Education & Gymnastics</span>
                                <span class="program-tag">Special Education</span>
                                <span class="program-tag">Music Therapy</span>

                                {% for i in '0123456789'|make_list|slice:"9" %}
                                    <span class="program-tag">Program {{ forloop.counter }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <a class="justify-content-center main-button text-dark" href="#">
                            <span class="me-2">Explore programs</span>
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>

                </div>
            </section>

            <!-- Support Us -->
            <section>
                <div id="support-section" class="row">
                    <div class="col-12">
                        <div class="main-break-line mx-auto mx-lg-0"></div>
                        <span class="d-block main-title mt-4 text-center text-lg-start">Get Involved & Support Us</span>
                        <span class="d-block box-details fs-6 mt-3 p-0 text-center text-lg-start">Your support makes a difference! Choose how you’d like to contribute:</span>
                        <div class="row w-100 mx-auto mt-5">
                            <div class="col-12 col-md-6 col-lg-4 mb-4 support-box p-0 ps-lg-0 pe-lg-4">
                                <div class="box d-flex flex-column justify-content-center me-0 me-md-4 me-lg-0">
                                    <div class="box-icon">
                                        <i class="fa-solid fa-graduation-cap"></i>
                                    </div>
                                    <span class="d-block box-title fs-4 text-start mt-3">Donate Funds</span>
                                    <div class="break-line"></div>
                                    <span class="d-block box-details fs-6 text-start mt-3">Support our mission financially.</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 mb-4 support-box p-0 ps-lg-0 pe-lg-4">
                                <div class="box d-flex flex-column justify-content-center">
                                    <div class="box-icon">
                                        <i class="fa-solid fa-graduation-cap"></i>
                                    </div>
                                    <span class="d-block box-title fs-4 text-start mt-3">Alternative Gift Giving</span>
                                    <div class="break-line"></div>
                                    <span class="d-block box-details fs-6 text-start mt-3">Dedicate your celebration gifts to a cause.</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-4 mb-4 support-box p-0 ps-lg-0">
                                <div class="box d-flex flex-column justify-content-center">
                                    <div class="box-icon">
                                        <i class="fa-solid fa-graduation-cap"></i>
                                    </div>
                                    <span class="d-block box-title fs-4 text-start mt-3">Memorial Donations</span>
                                    <div class="break-line"></div>
                                    <span class="d-block box-details fs-6 text-start mt-3">Honor a loved one by making a difference.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row w-100 mx-auto">
                            <div class="col-12 col-md-6 mb-4 support-box p-0 ps-lg-0 pe-lg-2">
                                <div class="box d-flex flex-column justify-content-center me-0 me-md-4 me-lg-0">
                                    <div class="box-icon">
                                        <i class="fa-solid fa-graduation-cap"></i>
                                    </div>
                                    <span class="d-block box-title fs-4 text-start mt-3">Volunteer with Us</span>
                                    <div class="break-line"></div>
                                    <span class="d-block box-details fs-6 text-start mt-3">Become part of our growing family.</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mb-4 support-box p-0 ps-lg-3">
                                <div class="box d-flex flex-column justify-content-center">
                                    <div class="box-icon">
                                        <i class="fa-solid fa-graduation-cap"></i>
                                    </div>
                                    <span class="d-block box-title fs-4 text-start mt-3">Corporate Giving</span>
                                    <div class="break-line"></div>
                                    <span class="d-block box-details fs-6 text-start mt-3">Partner with us for social responsibility.</span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a class="justify-content-center main-button blue-btn" href="#">
                                <span class="me-2">Get involved</span>
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </section>

        </div>

    </div>

{% endblock %}
