{% extends "landing_page/base.html" %}
{% load static %}
{% load translations_tags %}

{% block SEO %}
    <title>{% trans 'slug_137' %} | {% trans 'slug_146' %}</title>
    <meta name="description" content="Dikaioma Elpidas is a school dedicated to inclusive education
     and therapeutic support for individuals with special needs. Our vision is to empower every student with the skills,
     care, and opportunities they deserve in a nurturing and supportive environment.">
{% endblock %}

{% block EXTRA_HEAD %}
    {# to be extended in templates #}
{% endblock %}

{% block BODY %}
    <!-- Main Content -->
    <div class="homepage">
        <div class="video-container">
            <video autoplay muted loop>
                <source src="{% static 'assets/videos/home_vid.webm' %}" type="video/mp4">
            </video>
        </div>

        <div class="container-lg">

            <!-- Hero Boxes -->
            <section style="margin-top:0px">
                <div class="boxes-container justify-content-center p-0">
                    <div class="row w-100">
                        <div class="col-12 col-md-4 mb-4 about-us p-0 px-lg-3">
                            <div class="box d-block">
                                <div class="box-icon">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                                <span class="d-block box-title fs-4 text-start mt-3">{% trans 'slug_108' %}</span>
                                <div class="break-line"></div>
                                <span class="d-block box-details fs-5 text-start mt-3">{% trans 'slug_109' %}</span>
                                <a class="card-btn justify-content-end mt-5" href="{% url 'landing_page:about' lang=request.language %}">
                                    <span class="me-2">{% trans 'slug_110' %}</span>
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 mb-4 meet-team p-0 px-lg-3 ">
                            <div class="box d-block middle-spacing">
                                <div class="box-icon">
                                    <i class="fa-regular fa-face-smile"></i>
                                </div>
                                <span class="d-block box-title fs-4 text-start mt-3">{% trans 'slug_111' %}</span>
                                <div class="break-line"></div>
                                <span class="d-block box-details fs-5 text-start mt-3">{% trans 'slug_112' %}.</span>
                                <a class="card-btn justify-content-end mt-5" href="{% url 'landing_page:team' lang=request.language %}">
                                    <span class="me-2">{% trans 'slug_110' %}</span>
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 mb-4 actions-europe p-0 px-lg-3">
                            <div class="box d-block">
                                <div class="box-icon">
                                    <i class="fa-solid fa-graduation-cap"></i>
                                </div>
                                <span class="d-block box-title fs-4 text-start mt-3">{% trans 'slug_113' %}</span>
                                <div class="break-line"></div>
                                <span class="d-block box-details fs-5 text-start mt-3">{% trans 'slug_114' %}</span>
                                <a class="card-btn justify-content-end mt-5" href="{% url 'landing_page:services' lang=request.language %}">
                                    <span class="me-2">{% trans 'slug_115' %}</span>
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Discover our Mission -->
            <section style="margin-top:80px;">
                <div id="mission-section" class="row mt-5 justify-content-center "  >
                    <div class="col-12 col-md-5 order-1 order-md-0 position-relative" data-aos="fade-right" >
                        <img height="400" src="{% static 'assets/images/mission.webp' %}" class="img-fluid radius-40 mission-img" alt="Mission of Dikaioma Elpidas">
                        <img height="200" src="{% static 'assets/images/brush-blue-2.png' %}" class="img-fluid brush-img" alt="Blue brush">
                    </div>
                    <div class="col-12 col-md-5 d-flex align-items-center order-0 order-md-1" data-aos="fade-left">
                        <div class="row">
                            <div class="col-12 mb-4 mb-lg-0">
                                <div class="main-break-line"></div>
                                <span class="d-block main-title mt-4">{% trans 'slug_116' %}</span>
                                <span class="d-block box-details fs-5  text-start mt-3 p-0">{% trans 'slug_117' %}</span>
                                <a class="justify-content-center main-button blue-btn d-none d-md-block" href="{% url 'landing_page:about' lang=request.language %}">
                                    <span class="me-2">{% trans 'slug_110' %}</span>
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <a class="justify-content-center main-button blue-btn d-block d-md-none order-2" href="#">
                        <span class="me-2">{% trans 'slug_110' %}</span>
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </section>

            <!-- Meet our team -->
            <section>
                <div id="meet-team" class="row justify-content-center text-center" data-aos="fade-up">
                    <div class="col-12"> <!-- Added col-12 to make the row full width -->
                        <div class="main-break-line mx-auto"></div>
                        <span class="d-block main-title mt-4">{% trans 'slug_118' %}</span>
                        <span class="d-block box-details fs-5 mt-3">{% trans 'slug_119' %}</span>
                        <img src="{% static 'assets/images/meet-team.webp' %}" class="img-fluid radius-40 mt-5 w-100" alt="Team of Dikaioma Elpidas">
                        <span class="d-block box-details fs-5 mt-4">{% trans 'slug_120' %}</span>
                        <a class="d-inline-flex align-items-center main-button pink-btn" href="{% url 'landing_page:team' lang=request.language %}">
                            <span class="me-2">{% trans 'slug_111' %}</span>
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </section>


            <!-- What we offer -->
            <section>
                <div id="programs-section" class="row" data-aos="fade-up">
                    <div class="col-12">
                        <span class="d-block hero-subtitle box-details green-text p-0 text-start">{% trans 'slug_121' %}</span>
                        <span class="d-block main-title mt-2 text-start">{% trans 'slug_122' %}</span>
                        <span class="d-block box-details fs-5 mt-2 mb-5 p-0 text-center text-lg-start">{% trans 'slug_123' %}</span>
                    </div>

                    <div class="col-12">
                        {% for program in available_programs %}
                            <span class="program-tag">{% trans program.name %}</span>
                        {% endfor %}
                    </div>

                    <div class="d-flex justify-content-end">
                        <a class="justify-content-center main-button text-dark" href="{% url 'landing_page:services' lang=request.language %}">
                            <span class="me-2">{% trans 'slug_124' %}</span>
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>

            </section>

            <!-- Support Us -->
            <section>
                <div id="support-section" class="row" data-aos="fade-up">
                    <div class="col-12">
                        <div class="main-break-line mx-auto mx-lg-0"></div>
                        <span class="d-block main-title mt-4 text-center text-lg-start">{% trans 'slug_125' %}</span>
                        <span class="d-block box-details fs-5 mt-3 p-0 text-center text-lg-start">{% trans 'slug_126' %}</span>
                    </div>
                    <div class="mt-5">
                        <!-- Include Support section -->
                        {% include "landing_page/includes/support.html" %}
                    </div>
                </div>
            </section>

        </div>

    </div>

{% include "landing_page/includes/modal.html" %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
        AOS.init();
    </script>

{% endblock %}
