{% extends "landing_page/base.html" %}
{% load static %}

{% block SEO %}
    <title>Actions & European Programs | Dikaioma Elpidas</title>
    <meta name="description" content="Discover the actions and European programs offered by Dikaioma Elpidas,
     designed to enhance inclusive education and therapeutic support for individuals with special needs.
     Learn more about our initiatives, collaborations, and opportunities for growth">
{% endblock %}

{% block EXTRA_HEAD %}
    {# to be extended in templates #}
{% endblock %}

{% block BODY %}
<br>
<br>
<br>
<br>
{{ available_programs }}
{% endblock %}
