{% extends "landing_page/base.html" %}
{% load static %}
{% load translations_tags %}


{% block SEO %}
    <title>Actions & European Programs | Dikaioma Elpidas</title>
    <meta name="description" content="Discover the actions and European programs offered by Dikaioma Elpidas,
     designed to enhance inclusive education and therapeutic support for individuals with special needs.
     Learn more about our initiatives, collaborations, and opportunities for growth">
{% endblock %}

{% block EXTRA_HEAD %}
    {# to be extended in templates #}
{% endblock %}

{% block BODY %}
<div class="nav-margin">
    <div class="container-lg container-xlarge">
        <div>
            <span class="d-block main-title text-center">Our Specialized Programs</span>
            <span class="d-block sub-title mt-3 text-center">We offer a diverse range of educational and therapeutic programs tailored to meet the unique needs of individuals with special needs. Each program is designed to foster personal growth, independence, and social inclusion. Through specialized support and innovative methods, we empower our participants to thrive in every aspect of life.</span>
        </div>
    </div>
</div>

<div class="container-lg">
    <div class="row g-4 mt-5">
        {% if available_programs %}
            {% for program in available_programs.standard_programs %}
                <div class="col-12 col-md-6 col-lg-4" data-bs-toggle="modal" data-bs-target="#itemModal" data-title="{% trans program.name %}" data-description="{% trans program.description %}" data-image="{{program.image_url}}">
                    <div class="program_card">
                        <img src="{{program.image_url}}" alt="{% trans program.name %}">
                        <div class="program_overlay">
                            <span>{% trans program.name %}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="row mt-165 justif-content-center">
        <div id="meet-team" class="row justify-content-center text-center">
            <div class="col-12"> <!-- Added col-12 to make the row full width -->
                <div class="main-break-line mx-auto"></div>
                <span class="d-block main-title mt-4">Attending EU stuff title goes here</span>
                <span class="d-block box-details fs-5 mt-3">We are proud to have a dedicated team of professionals who are committed to making a difference.</span>
                <img src="{% static 'assets/images/meet-team.webp' %}" class="img-fluid radius-40 mt-5 w-100" alt="Team of Dikaioma Elpidas">
                <span class="d-block box-details fs-5 mt-4">{% trans 'slug_120' %}</span>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="itemModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="modalTitle">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="d-flex modal-details flex-column">
                <img id="modalImage" alt="{% trans program.name %}">
                <div class="modal-body" id="modalBody"></div>
            </div>
        </div>
    </div>
</div>


<script>
    // Select the modal element
    const modal = document.getElementById('itemModal');

    // Event listener for when the modal is about to be shown
    modal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        const button = event.relatedTarget;

        // Extract info from data attributes
        const title = button.getAttribute('data-title');
        const description = button.getAttribute('data-description');
        const imageSrc = button.getAttribute('data-image');

        // Update the modal content
        document.getElementById('modalTitle').textContent = title;
        document.getElementById('modalBody').textContent = description;
        document.getElementById('modalImage').src = imageSrc;
    });
</script>

{% endblock %}
