{% extends "landing_page/base.html" %}
{% load static %}

{% block SEO %}
    <title>Support us | Dikaioma Elpidas</title>
    <meta name="description" content="Support Dikaioma Elpidas in our mission to provide inclusive education
     and therapeutic support for individuals with special needs.
     Your contribution helps create a nurturing environment where every student can thrive">
{% endblock %}

{% block EXTRA_HEAD %}
    {# to be extended in templates #}
{% endblock %}

{% block BODY %}

<div class="nav-margin">
    <div class="container-lg container-xlarge">
        <div>
            <span class="d-block main-title text-center">Get Involved & Support Us</span>
            <span class="d-block sub-title mt-3 text-center">Your support makes a lasting difference in the lives of individuals with special needs. Whether through financial contributions, volunteering your time, or partnering with us, every action helps us provide essential educational and therapeutic programs.
Explore the many ways you can contribute and become a vital part of our mission.</span>
        </div>
    </div>
</div>

<div class="container-lg mt-5">
    <div class="row" >
        <div class="col-12">
            <div id="support-section" class="row w-100 mx-auto mt-5 justify-content-center">
                <!-- Include Support section -->
                {% include "landing_page/includes/support.html" %}
            </div>
        </div>
    </div>
</div>

{% include "landing_page/includes/involved-modal.html" %}

{% endblock %}
