{% extends "landing_page/base.html" %}
{% load static %}

{% block SEO %}
    <title>Support us | Dikaioma Elpidas</title>
    <meta name="description" content="Support Dikaioma Elpidas in our mission to provide inclusive education
     and therapeutic support for individuals with special needs.
     Your contribution helps create a nurturing environment where every student can thrive">
{% endblock %}

{% block EXTRA_HEAD %}
    {# to be extended in templates #}
{% endblock %}

{% block BODY %}


{% endblock %}
